@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-color: #e2c99f;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 5em;
  margin-top: 0.5em;
  color: #353437;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 1.5em;
  color: #353437;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #e2c99f;
  height: 8em;
}
nav div div {
  background-color: #a39b7e;
}

.logo {
  height: 5em;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em;
  padding: 2em;
}
footer div :hover {
  transform: scale(1.5);
}

.pFooter {
  text-align: center;
  margin: 0.5em;
}

.home1 {
  height: 40em;
  width: 100vw;
  margin: 2em 0;
}
.home1 img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
}
.home1 div {
  text-align: center;
  margin: 1em;
}
.home1 div h2 a {
  text-decoration: none;
  color: #353437;
}

.h2Home {
  margin: 2em;
  margin-top: 4em;
}

.home2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  flex-flow: wrap;
}
.home2 .homeDiv {
  height: 30em;
  width: 15em;
  border: solid 0.3em #353437;
  padding: 0.3em;
  border-radius: 0.5em;
  box-shadow: 0.3em 0.3em rgba(44, 37, 37, 0.103);
}
.home2 .homeDiv div {
  text-align: center;
  font-size: x-large;
  height: 2em;
  padding: 0 1em;
}
.home2 .homeDiv img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  border-radius: 0.5em;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10em;
}
.servicios div {
  height: 25em;
  width: 16em;
  border: solid 0.2em;
  border-radius: 0.5em;
  box-shadow: 0.3em 0.3em rgba(10, 10, 10, 0.541);
}
.servicios div h3 {
  text-align: center;
  border-bottom: solid 0.2em;
}
.servicios div img {
  object-fit: cover;
  width: 100%;
  height: 70%;
}

@media only screen and (max-width: 880px) {
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .servicios div {
    margin: 2em;
    margin-top: 1em;
  }
}
.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.galeria div {
  height: 45vh;
  width: 30em;
  margin: 0.5em;
}
.galeria div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 880px) {
  .galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.carta {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto3" "foto6 foto7 foto3";
  justify-content: center;
  justify-items: center;
  grid-gap: 0.2em;
}
.carta .foto1 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto1;
  width: 18em;
}
.carta .foto1 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta .foto2 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto2;
  width: 18em;
}
.carta .foto2 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta .foto3 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto3;
  width: 18em;
}
.carta .foto3 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta .foto4 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto4;
  width: 18em;
}
.carta .foto4 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta .foto5 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto5;
  width: 18em;
}
.carta .foto5 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta .foto6 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto6;
  width: 18em;
}
.carta .foto6 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta .foto7 {
  border: solid 0.2em rgb(53, 52, 52);
  border-radius: 0.5em;
  grid-area: foto7;
  width: 18em;
}
.carta .foto7 img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.carta div h3, .carta p {
  text-align: center;
}

@media only screen and (max-width: 880px) {
  .carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carta .foto1 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto1 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .carta .foto2 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto2 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .carta .foto3 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto3 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .carta .foto4 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto4 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .carta .foto5 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto5 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .carta .foto6 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto6 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .carta .foto7 {
    border: solid 0.2em rgb(53, 52, 52);
    border-radius: 0.5em;
    width: 50vw;
    height: 20em;
    overflow: auto;
  }
  .carta .foto7 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }
  .p-Pata {
    overflow-y: scroll;
  }
}
.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #a39b7e;
  margin: 4em;
}
.flex-container form {
  text-align: center;
  width: 50%;
  padding: 0.5em;
}
.flex-container form .form-input {
  width: 60%;
  padding: 0.2em;
  margin: 0.1em;
  border: none;
  border-bottom: 0.1em solid #353437;
  background: linear-gradient(to bottom, transparent, #e2c99f);
}
.flex-container form .form-input:hover {
  background-color: #53576b;
  outline: none;
  border-bottom: 0.1em solid rgb(22, 6, 6);
}
.flex-container form .enviar {
  border-bottom: 0.1em solid #353437;
  border-bottom: none;
  padding: 0.5em;
  background: linear-gradient(to bottom, transparent, #e2c99f);
}
.flex-container form textarea {
  min-height: 8em;
  resize: none;
}
.flex-container .form-img {
  width: 50%;
  display: flex;
  padding: 2em;
}
.flex-container .form-img iframe {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 880px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .flex-container form {
    width: 100%;
  }
  .flex-container form .form-input {
    width: 100%;
  }
  .flex-container .form-img {
    width: 100%;
    padding: 0.2em;
  }
  .flex-container .form-img iframe {
    width: 100%;
    margin: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
