.flex-container{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    background-color: #283d3e;
    margin: 4em;
    form {
        text-align: center;
        width: 50%;
        padding: 0.5em;
        .form-input{
            width: 60%;
            padding: 0.2em;
            margin: 0.1em;
            border: none;
            border-bottom: 0.1em solid red;
            background: linear-gradient(to bottom, transparent, #48586f);
        }
        .form-input:hover{
            background-color: aqua;
            outline: none;
            border-bottom: 0.1em solid rgb(22, 6, 6);
        }
        .enviar{
            background-color: #48586f;
            border-bottom: none;
            padding: 0.5em;
        }
        textarea{
            min-height: 8em;
            resize: none;
        }
    }
    .form-img{
        width: 50%;
        display: flex;
        padding: 2em; 
        iframe{
            width: 90%;
            margin: auto;
        }
    }
}


@media only screen and (max-width: 880px) {
    .flex-container{
        @include flex (column, center, center);
        width: 100%;
        form{
            width: 100%;
            .form-input{
                width: 100%;
            }
        }
        .form-img{
            width: 100%;
            margin: 0;
            padding: 0.2em;
            iframe{
                width: 100%;
            }
        }
    }
    
}

