.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    div{
        height: 45vh;
        width: 30em;
        margin: 0.5em;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 880px) {
    .galeria{
        @include flex (column, center, center);
    }
}
