nav {
    background-color: #e2c99f;
    height: 8em;
    div{
        div{
            background-color: #a39b7e;
            
                  
                   }
                }
            }
.logo{
    height: 5em;
}