.nav__responsive{
    display: none;
}

nav{
    background-color: slateblue;
    .nav__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__logo{
            img{
                width: 10em;
            }

        }
        .nav__container-ul{
            .nav__ul{
                .nav__li{
                    display: inline-block;
                    padding: 1em;
                    color: white;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                    i{
                        width: 1.5em;
                        box-sizing: border-box;
                    }
                }
            }
        }

    }
}

.nav__responsive{
    .cont{
        display: flex;
        justify-content: space-between;
        .nav__responsive-logo img{
            width: 10em;
        }
        .nav__responsive-container{
            .nav__responsive-ul{
                .nav__responsive-boton{
                    float: right;
                    font-size: 2em;
                    padding: 1em 2em;
                    text-decoration: none;
                    color: white;
                }
                .responsive__conteiner-li{
                    display: inline-block;
                    text-decoration: none;
                    position: relative;
                    margin-top: 3em;
                    top: -50em;
                    .nav__responsive-li{
                        color: white;
                        padding: 0.5em;
                        text-decoration: none;
                        i{
                            color: white;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                    }
                }
            }
        }
    }   
   .nav__responsive-boton :hover > .responsive__conteiner-li{
        top: 0;
    }


@media only screen and (max-width:880px) {
    .nav{
        display: none;
    }
    .nav__responsive{
        display: block;
        background-color:slateblue ;
    }
    
}