.home1 {
    height: 40em;
    width: 100vw;
    margin: 2em 0;
    img{
        object-fit: cover;
        width: 100vw;
        height: 100%;
    }
    div{
        text-align: center;
        margin: 1em;
        h2 a{
            text-decoration: none;
            color: #353437
        }
    }

}

.h2Home{
    margin:2em;
    margin-top: 4em;
}
.home2{
    @include flex (row, space-evenly, center);
    width: 100vw;
    flex-flow: wrap;
    .homeDiv{
        height: 30em;
        width: 15em;
        border: solid 0.3em #353437;
        padding: 0.3em;
        border-radius: 0.5em;
        box-shadow: 0.3em 0.3em rgba(44, 37, 37, 0.103);
        div{
            text-align: center;
            font-size: x-large;
            height: 2em;
            padding: 0 1em;
        }
        img{
            object-fit: cover;
            width: 100%;
            height: 90%;
            border-radius: 0.5em;
        }

    }

}